<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{foreach $res as $item}
<li>序号:{$item.id} 姓名: {$item.name} 年龄: {$item.age}</li>
{/foreach}

<form action="./change" method="post">
    id:<input type="text" name="id">
    年龄: <input type="text" name="age">
    <button>提交更改</button>
</form>
</body>
</html>